<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Random number
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding fixed>


  <ion-item><h5>Informe o intervalo entre os numeros que deseja sortear:</h5></ion-item>

  <ion-item col-12>
    <ion-label fixed>Inicial</ion-label>
    <ion-input type="number" [(ngModel)]="num1" min="1" max="99999"></ion-input>
  </ion-item>


  <ion-item col-12>
    <ion-label fixed>Final</ion-label>
    <ion-input type="number" [(ngModel)]="num2"></ion-input>
  </ion-item>
  <ion-item col-12>
    <ion-label fixed>Chute</ion-label>
    <ion-input type="number" [(ngModel)]="foot"></ion-input>
  </ion-item>

   <ion-button full color="dark" (click)="random()"> Sortear</ion-button>
   <ion-button full color="dark" (click)="clear()"> Limpar</ion-button>
   <ion-button full color="dark" (click)="verify()"> verificar</ion-button>



</ion-content>


